In [1]:
import sqlalchemy as db

In [2]:
engine = db.create_engine('sqlite:///db/college.sqlite', echo=True)
conn = engine.connect()
meta = db.MetaData()

In [3]:
from sqlalchemy import Table, Column, Integer, String

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
conn = engine.connect()
result = conn.execute(ins)

2023-06-19 04:57:45,389 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-06-19 04:57:45,390 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2023-06-19 04:57:45,390 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ('Ravi', 'Kapoor')

'INSERT INTO students (name) VALUES (:name)'

{'name': 'Karan'}

In [21]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = connection.execute(ins)

In [23]:
result = connection.execute(ins)

In [24]:
result